<MudPaper Elevation="25" Class="d-flex justify-content-lg-around" Style="background-color:#333;color:#fff;padding: 10px;">
    

    <MudContainer Style="text-align:start">
        <MudText Class="font-weight-bold mb-2" Typo="Typo.body1">Información legal y de privacidad</MudText>
        <MudText Typo="Typo.body2" Align="Align.Justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.
            Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.
            In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
        </MudText>
    </MudContainer>
    <MudDivider Vertical="true" FlexItem="true" />
    <MudContainer Class="col-3" Style="text-align:start">
        <MudText Class="font-weight-bold mb-2" Style="text-align:center" Typo="Typo.body1">Accesos Rapidos</MudText>
        <MudText><a class="color-hover text-white text-decoration-none" href="/">Inicio</a></MudText>
        <MudText><a class="color-hover text-white text-decoration-none" href="services">Servicios</a></MudText>
        <MudText><a class="color-hover text-white text-decoration-none" href="aboutUs">Quienes Somos</a></MudText>
        <MudText> <a class="color-hover text-white text-decoration-none" href="contactForm">Contacto</a></MudText>
    </MudContainer>
    <MudDivider Vertical="true" FlexItem="true" />
    <MudContainer  Style="text-align:start">
        <MudText Class="font-weight-bold mb-2" Typo="Typo.body1">Redes</MudText>

        <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Info" Size="Size.Medium" Target="_blank" Href="https://www.facebook.com/" />
        <MudIconButton Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Success" Size="Size.Medium" Target="_blank" Href="https://wa.me/8090000000?text=Hola" />
        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Inherit" Size="Size.Medium" Target="_blank" Href="https://twitter.com/" />
        <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Warning" Size="Size.Medium" Target="_blank" Href="https://www.instagram.com/" />
        @*<MudText Typo="Typo.body1" Align="Align.Justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.
            Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.
            In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
         </MudText> *@
    </MudContainer>

@*     <MudText Class="font-weight-bold mb-2" Typo="Typo.body1">Información legal y de privacidad</MudText>
    <MudText Typo="Typo.body2" Align="Align.Justify">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.
        Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.
        In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
    </MudText>
    <MudDivider Vertical="true" FlexItem="true" />

    <MudText><a href="/">Inicio</a></MudText>
    <MudText><a href="services">Servicios</a></MudText>
    <MudText><a href="aboutUs">Quienes Somos</a></MudText>
    <MudText> <a href="contactForm">Contacto</a></MudText>
    <MudDivider Vertical="true" FlexItem="true" />
    <MudText Typo="Typo.h4">redes</MudText>
    <MudText Typo="Typo.body1" Align="Align.Justify">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.
        Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.
        In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
    </MudText> *@
    

@*     <MudContainer Class="d-flex justify-content-start flex-lg-wrap">
        <a href="/">Inicio</a>
        <a href="services">Servicios</a>
        <a href="aboutUs">Quienes Somos</a>
        <a href="contactForm">Contacto</a>
    </MudContainer>
    
    @* <MudText>CEO ECOMMERCE</MudText> *@
</MudPaper>
@code {

    private string message = "Me gustaria saber mas sobre ustedes";

    // private Uri urlWhatsapp { get; set; } = $"https://wa.me/8090000000?text={message}";

}
