@page "/"


<MudContainer>

    <MudText Class="m-4" Typo="Typo.h4">Acerca de Nosotros</MudText>

    <MudText Class="ml-4 mr-10" Align="Align.Justify">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.
        Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.
    </MudText>

    <a class="d-flex justify-content-end mt-4" href="/aboutUs">Saber mas!!!</a>



</MudContainer>





@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@
