@page "/services/ProfessionalDevelopmentDetails"

<style>
    body {
        background-image: url('./Images/background.png');
        background-size: 100%;
    }
</style>

<MudContainer Class="mt-5">


    <MudText Align="Align.End" Style="color:white"><a href="/" class="color-hover" style="text-decoration:none; color:white">Inicio</a> / <a href="/services" class="color-hover" style="text-decoration:none; color:white">Servicios</a> / Desarrollo Profesional</MudText>
    <MudCard Elevation="5" Style="width:100%; height:100%;">
        <MudCardMedia Image="/Images/Services/DesarrolloEmpresarial.jpg"/>
        <MudCardContent>
            <MudText Typo="Typo.h3">Desarrollo Profesional</MudText>
            <br />

            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Cursos de Análisis de Datos:</a> Programas de formación especializados en técnicas y
                herramientas de análisis de datos para mejorar las habilidades y conocimientos del
                personal.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Capacitaciones en Business Intelligence:</a> Formación práctica en el uso efectivo de
                herramientas de inteligencia empresarial para la toma de decisiones informadas y
                estratégicas.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Programas de Machine Learning y Data Science:</a> Programas avanzados de
                formación en machine learning y ciencia de datos para desarrollar habilidades en
                análisis predictivo y modelado estadístico.
            </MudText>
            <br />
            <MudText Typo="Typo.body1" Align="Align.Justify">
                <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Style="color:red;" />
                <a class="font-weight-bold">Tutorías Personalizadas:</a> Tutorías individuales y personalizadas para el desarrollo
                profesional y el crecimiento de habilidades en áreas específicas de investigación y
                análisis de datos.
            </MudText>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {

}
