@page "/services"


@* <h3>Servicios ofrecido</h3> *@

<MudContainer Class="mb-8 mt-3" Fixed=true>
    <MudText Typo="Typo.h4">Servicios ofrecidos</MudText>

    <MudItem Class="mb-5">
        <Card />
    </MudItem>

    <MudText Typo="Typo.h4">Casos de estudio o proyectos destacados</MudText>


    <MudItem>
        <Card />
    </MudItem>

</MudContainer>


@code {

}
